extends layout

block content
    app-root Loading

block scripts
    script(src='/build/runtime.eb17e5afa3691422.js')
    script(src='/build/polyfills.4619a69bcc51b9b0.js')
    script(src='/build/main.b5222d1abff87de0.js')